{{#section 'js'}}
{{!-- <script>
    $('#paging').pagination({
        dataSource: '/courses?page=1',
        locator: 'courses',
        totalNumberLocator: function (response) {
            console.log(response.total);
            return response.total;
        },
        pageSize: 9,
        afterPageOnClick: function (event, pageNumber) {
            loadPage(pageNumber);
        }
    })
    function loadPage(page) {
        $.ajax({
            url: "/courses?page=" + page
        })
            .then(rs => {
                console.log(rs.totalPage);
                for (let i = 0; i < rs.data.length; i++) {
                    const e = rs.data[i];
                    console.log(e);
                    var item = $(`
                    <div class="col-sm-6 col-lg-4 min-height">
                        <div class="card card-course-item">
                            <a href="/courses/{{e.slug}}">
                                <img src="{{e.image}}" class="card-img-top" alt="{{e.name}}">
                            </a>
                        <div class="card-body">
                            <a href="/courses/{{e.slug}}">
                                <h5 class="card-title size text-center">{{e.name}}</h5>
                            </a>
                        </div>
                         </div>
                    </div>
        `);
                    $('#content').append(item);
                }
            })
            .catch(error => {
                console.log(error)
            })
    }
</script> --}}
{{/section}}
<div class="main">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 min-height">
            <div class="card card-course-item">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.linkImg}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title size text-center color-text">{{this.name}}</h5>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div id="content"></div>
<div id="paging"></div>