<div class="mt-4">
    <h3 class="text-center">Cập nhập khoá học</h3>
    <form method="post" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên bài học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">ID video</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Mức độ </label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Cập nhập</button>
    </form>
</div>