<div class="mt-4">
    <h3 class="text-center">Cập nhập khoá học</h3>
    <form method="post" action="/docs/{{doc._id}}?_method=PUT">
        {{!-- <div class="mb-3">
            <img src="{{doc.image}} class=" card-img-top img-size" alt="{{doc.name}}">
        </div> --}}
        <button type="submit" class="btn btn-primary">Cập nhập ảnh đại diện</button>
        <div class="mb-3">
            <label for="name" class="form-label">Tên tài liêu</label>
            <input type="text" class="form-control" value="{{doc.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{doc.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Tác giả</label>
            <input type="text" class="form-control" value="{{doc.author}}" id="author" name="author">
        </div>
        <div class="mb-3">
            <label for="source" class="form-label">Nguồn</label>
            <input type="text" class="form-control" value="{{doc.source}}" id="source" name="source">
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Liên kết tài liệu</label>
            <input type="text" class="form-control" value="{{doc.file}}" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Cập nhập</button>
    </form>
</div>