<div class="mt-4 mb-4">
    <div class="row">
        {{#each docs}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <a href="/docs/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top img-card" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/docs/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <a href="/docs/{{this.slug}}" class="btn btn-primary">Xem ngay</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>