{{>slider}}
<div class="main">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.linkImg}}" class="card-img-top img-course" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title size color-text">{{this.name}}</h5>
                    </a>
                    <a href="/courses/{{this.slug}}" class="btn btn-primary">Học ngay</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each docs}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <a href="/docs/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top img-doc" alt="{{this.name}}"
                        style="min-height:550px !important">
                </a>
                <div class="card-body">
                    <a href="/docs/{{this.slug}}">
                        <h5 class="card-title size text-center color-text">{{this.name}}</h5>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>