<form name="container-form" class="mt-4" method="post" action="/courses/handle-form">
    <div>
        <h2 class="text-center">Khoá học của tôi</h2>
        <a class="btn btn-success" href="/courses/create" title="Thêm mới"><i class="fas fa-plus"></i></a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-select form-select-sm checkbox-option" aria-label="Default select example" name="action" required>
                <option value="">--Hành động--</option>
                <option value="delete">Xoá</option>
            </select>
            <button class="btn btn-primary btn-sm btn-all-submit " disabled>Thực hiện</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2"></th>
                <th scope="col">
                    Tên khoá học
                    <a href="?_sort&column=name&type=desc"><i class="fas fa-chevron-up"></i></a>
                </th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input checked-item" type="checkbox" name="courseIds[]"
                            value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-success" title="Cập nhập"><i
                            class="far fa-edit"></i></a>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
                        data-bs-id="{{this._id}}" title="Xoá"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khoá nào
                    <a href="/courses/create" class="btn btn-success">Đăng khoá học </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form>
        <a href="/me/trash/courses" class="btn" title="Khôi phục"><i class="fas fa-trash-restore fa-2x"></i>
            ({{deletedCount}})</a>
    </form>
</>
{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận xoá khoá học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xoá không??</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>
<form name="delete-course-form" method="post"></form>
<script>
    var deleteCourse = document.getElementById('delete-course-modal')
    var idCourse;
    var deleteForm = document.forms['delete-course-form'];
    //var containerForm = document.forms['container-form'];
    var containerForm = $('form[name="container-form"]');
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var btnAllChecked = $('#checkbox-all');
    var btnItemChecked = $('input[name="courseIds[]"]');
    var btnCheckAllSubmit = $('.btn-all-submit');
    //console.log(containerForm);
    deleteCourse.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        idCourse = button.getAttribute('data-bs-id');
    })
    btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/' + idCourse + '?_method=DELETE';
        deleteForm.submit();
    }
    //Chọn tất cả thì check hết
    btnAllChecked.change(function () {
        var isCheckedAll = $(this).prop('checked');
        btnItemChecked.prop('checked', isCheckedAll);
        renderCheckAllSubmitBtn();
    });
    //Bỏ 1 cái bỏ check chọn tất cả
    btnItemChecked.change(function () {
        var isCheckedAll = btnItemChecked.length === $('input[name="courseIds[]"]:checked').length;
        btnAllChecked.prop('checked', isCheckedAll);
        renderCheckAllSubmitBtn();
    })
    //Enable nút thực hiện
    function renderCheckAllSubmitBtn() {
        var CheckedCount = $('input[name="courseIds[]"]:checked').length;
        if (CheckedCount > 0) {
            btnCheckAllSubmit.attr('disabled',false);
        }else{
            btnCheckAllSubmit.attr('disabled',true);
        }
    }
    //console.log(containerForm);
</script>